@import "../../../styles/mixins";
@import "../../../styles/variables";

.formContainer{
    @include flex-column;
    @include container;
    align-items: center;
    justify-content: center;
    height: 90dvh;
    
}

.authHeader{
    padding: $padding-large;
    @include mobileL(){
        padding: $padding-medium;
    }
}