//seance colors
$seance-50: #fff3ff;
$seance-100: #fce6ff;
$seance-200: #fbccff;
$seance-300: #faa3ff;
$seance-400: #f96dff;
$seance-500: #f036ff;
$seance-600: #d915e4;
$seance-700: #b80ebd;
$seance-800: #a60fa9;
$seance-900: #7e117e;
$seance-950: #550055;

//black colors
$black-50: #100909;
$black-100: #e7e7e7;
$black-200: #d1d1d1;
$black-300: #b0b0b0;
$black-400: #888888;
$black-500: #6d6d6d;
$black-600: #5d5d5d;
$black-700: #4f4f4f;
$black-800: #454545;
$black-900: #3d3d3d;
$black-950: #000000;

//white colors
$white-blur:#ffffff95;
$white-50: #ffffff;
$white-100: #efefef;
$white-200: #dcdcdc;
$white-300: #bdbdbd;
$white-400: #989898;
$white-500: #7c7c7c;
$white-600: #656565;
$white-700: #525252;
$white-800: #464646;
$white-900: #3d3d3d;
$white-950: #292929;

//fonts
$font-size-small: 0.875rem; // 14px
$font-size-medium: 1rem; // 16px
$font-size-large: 1.125rem; // 18px
$font-size-extra-large: 1.25rem; // 20px
$font-size-huge: 1.5rem; // 24px
$font-size-1-75: 1.75rem; // 28px
$font-size-2: 2rem; // 32px
$font-size-2-125: 2.125rem; // 34px
$font-size-2-25: 2.25rem; // 36px
$font-size-2-5: 2.5rem; // 40px
$font-size-2-75: 2.75rem; // 44px
$font-size-3: 3rem; // 48px
$font-size-3-25: 3.25rem; // 52px
$font-size-3-5: 3.5rem; // 56px
$font-size-3-75: 3.75rem; // 60px
$font-size-4: 4rem; // 64px
$font-size-4-25: 4.25rem; // 68px
$font-size-4-5: 4.5rem; // 72px
$font-size-4-75: 4.75rem; // 76px
$font-size-5: 5rem; // 80px (maximum size)

// Margins
$margin-xx-small: 0.125rem; // 2px
$margin-x-small: 0.25rem; // 4px
$margin-small: 0.5rem; // 8px
$margin-medium: 1rem; // 16px
$margin-1-25: 1.25rem; // 20px
$margin-large: 1.5rem; // 24px
$margin-2: 2rem; // 32px
$margin-2-25: 2.25rem; // 36px
$margin-x-large: 2.5rem; // 40px
$margin-xx-large: 3rem; // 48px

// Paddings
$padding-xx-small: 0.125rem; // 2px
$padding-x-small: 0.25rem; // 4px
$padding-small: 0.5rem; // 8px
$padding-medium: 1rem; // 16px
$padding-1-25: 1.25rem; // 20px
$padding-large: 1.5rem; // 24px
$padding-2: 2rem; // 32px
$padding-2-25: 2.25rem; // 36px
$padding-x-large: 2.5rem; // 40px
$padding-xx-large: 3rem; // 48px

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;


// Border Radii
$border-radius-small: 0.25rem; // 4px
$border-radius-medium: 0.5rem; // 8px
$border-radius-large: 0.75rem; // 12px
$border-radius-x-large: 1rem; // 16px
$border-radius-circle: 100%; // Circle radius as a percentage

//border-width
$border-width-small: 1px;
$border-width-medium: 2px;
$border-width-large: 4px;

//z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;
$z-index-7: 7;
$z-index-8: 8;
$z-index-9: 9;
$z-index-10: 10;