@import 'mixins';
@import 'variables';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

// ::-webkit-scrollbar {
//     width: 5px;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: $black-200;
// }

// ::-webkit-scrollbar-track {
//     background-color: $black-900;
// }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    transition: all 0.5s ease-in-out;
}

.cart-open {
    transform: translateY(0);
    @include transition-ease;
}

.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;

    p {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        margin-bottom: $margin-medium;
        min-width: 250px;
    }

    a {
        text-decoration: none;
        color: $white-50;
        background-color: $seance-500;
        padding: $padding-small $padding-medium;
        border-radius: $border-radius-medium;
        @include transition-ease;

        &:hover {
            background-color: $seance-600;
            @include transition-ease;
        }
    }

}

.errorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;

    h2 {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        margin-bottom: $margin-medium;
        min-width: 250px;
    }

    button {
        border: none;
        outline: none;
        cursor: pointer;
        color: $white-50;
        background-color: $seance-500;
        padding: $padding-small $padding-medium;
        border-radius: $border-radius-medium;
        @include transition-ease;

        &:hover {
            background-color: $seance-600;
            @include transition-ease;
        }
    }
}

.ratings {
    display: inline-flex;
    margin-bottom: $margin-small;
    color: yellow;
    font-size: $font-size-large;
}

.uncolored {
    display: inline-flex;
    color: $black-900;
    font-size: $font-size-large;
}
