@import 'mixins';
@import 'variables';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    transition: all 0.5s ease-in-out;
}

.cart-open {
    transform: translateY(0);
    @include transition-ease;
}

.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;

    p {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        margin-bottom: $margin-medium;
        min-width: 250px;
    }

    a {
        text-decoration: none;
        color: $white-50;
        background-color: $seance-500;
        padding: $padding-small $padding-medium;
        border-radius: $border-radius-medium;
        @include transition-ease;

        &:hover {
            background-color: $seance-600;
            @include transition-ease;
        }
    }

}

.errorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;

    h2 {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        margin-bottom: $margin-medium;
        min-width: 250px;
    }

    button {
        border: none;
        outline: none;
        cursor: pointer;
        color: $white-50;
        background-color: $seance-500;
        padding: $padding-small $padding-medium;
        border-radius: $border-radius-medium;
        @include transition-ease;

        &:hover {
            background-color: $seance-600;
            @include transition-ease;
        }
    }
}

.ratings {
    display: inline-flex;
    margin-bottom: $margin-small;
    color: yellow;
    font-size: $font-size-huge;
}

.uncolored {
    display: inline-flex;
    color: $black-900;
    font-size: $font-size-huge;
}

.pageNotFound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: $padding-medium;
    h1{
        font-size: $font-size-5;
        font-weight: $font-weight-bold;
        margin-bottom: $margin-small;
        color:$seance-500;
    }
    .container{
        background-color:$white-50;
        padding: $padding-medium;
        @include flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: max-content;
        border-radius: $border-radius-small;
        box-shadow: 0 0 20px rgba(15, 15, 15, 0.5);

        .notFound{
                font-size: $font-size-2;
                padding: $padding-small;
                margin-bottom: $margin-medium;
            }
        .button{
            text-decoration: none;
            margin-top: $margin-small;
            background-color: $seance-500;
            color: $white-50;
            border-radius: $border-radius-small;
            padding: $padding-small $padding-medium;
        }
        }
}

