@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.cartContainer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: $white-blur;
    backdrop-filter: blur(5px);
    padding: $padding-medium;
    width: 350px;
    z-index: $z-index-10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    @include transition-ease;

    @include tabletS {
        width: 100%;
    }
}

.closeButton {
    padding: $padding-small;
    height: 40px;
    width: 40px;
    border: $border-width-small solid $black-200;
    border-radius: $border-radius-small;
    @include flex-center;
    @include transition-ease;
    cursor: pointer;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;

    &:hover {
        transform: scale(1.05);
        @include transition-ease
    }
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartEmpty {
    @include flex-center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    font-size: $font-size-2;
    font-weight: $font-weight-bold;
    color: $black-200;
    color: $black-950;

    @include mobileL {
        font-size: $font-size-huge;
    }
}

.bigCartIcon {
    font-size: $font-size-2-5;
}

.cartItemContainer {
    margin-top: $margin-xx-large;
    padding-top: $padding-small;
    height: 50vh;
    overflow-y: auto;

    .price {
        font-weight: $font-weight-bold;

    }

    .imageCart {
        position: relative;
        @include flex;

        .name {
            margin-left: $margin-medium;
        }

        .image {
            position: relative;
            height: 60px;
            width: 60px;

            img {
                border-radius: 4px;

            }

            .delete {
                position: absolute;
                z-index: 3;
                top: -4px;
                right: -4px;
                font-weight: $font-weight-bold;
                outline: none;
                border: none;
                height: 20px;
                width: 20px;
                @include flex;
                justify-content: center;
                align-items: center;
                color: $white-50;
                background-color: $black-500;
                border-radius: 100%;
                cursor: pointer;
            }
        }
    }

    .itemWrap {
        margin-bottom: $margin-large;
        padding-bottom: $padding-small;
        border-bottom: $border-width-small solid $black-300;
        @include flex;
        justify-content: space-between;
    }

    .buttonWrap {
        @include flex;
        align-items: center;
        justify-content: space-between;
        width: 80px;
        height: 40px;
        border: $border-width-small solid $white-300;
        border-radius: 20px;
        margin-top: $margin-small;
        padding: $padding-medium;
        background-color: $black-300;
        position: relative;

        button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: $font-size-huge;
            font-weight: $font-weight-bold;
            position: relative;
        }
    }

}

.btnCheckout {
    border: none;
    outline: none;
    padding: $padding-small;
    width: 100%;
    background-color: $seance-500;
    border-radius: 24px;
    color: $white-50;
    font-size: $font-size-large;
    font-weight: $font-weight-semi-bold;
    cursor: pointer;
}

.totalPrice {
    @include flex;
    justify-content: space-between;
    font-size: $font-size-huge;
    font-weight: $font-weight-bold;
    margin-bottom: $margin-large;
    padding-bottom: $padding-small;
    border-bottom: $border-width-small solid $black-300;
}

.loading{
    position: absolute;
    bottom: 0;
    right: 6px;
}