@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.cartContainer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: $white-blur;
    backdrop-filter: blur(5px);
    padding: $padding-medium;
    width: 350px;
    z-index: $z-index-10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    @include transition-ease;

    @include tabletS {
        width: 100%;
    }
}

.closeButton {
    padding: $padding-small;
    height: 40px;
    width: 40px;
    border: $border-width-small solid $black-200;
    border-radius: $border-radius-small;
    @include flex-center;
    @include transition-ease;
    cursor: pointer;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;

    &:hover {
        transform: scale(1.05);
        @include transition-ease
    }
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartEmpty{
    @include flex-center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    font-size: $font-size-2;
    font-weight: $font-weight-bold;
    color: $black-200;
    color: $black-950;

    @include mobileL{
        font-size: $font-size-huge;
    }
}

.bigCartIcon{
    font-size: $font-size-2-5;
}